/* style_personal-account.css */

/* Стили для раздела "personal-account" */

.personal-account-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.personal-account-container h2 {
    margin-bottom: 20px;
}

.personal-account-container p {
    margin-bottom: 10px;
}

.account-details {
    margin-bottom: 20px;
}

.account-details h3 {
    margin-bottom: 10px;
}

.actions {
    margin-bottom: 20px;
}

.actions h3 {
    margin-bottom: 10px;
}

.actions ul {
    list-style-type: none;
    padding: 0;
}

.actions ul li {
    margin-bottom: 5px;
}

.actions ul li a {
    color: #333;
    text-decoration: none;
}

.actions ul li a:hover {
    text-decoration: underline;
}
