<footer>
    <div class="footer">
      <div class="body_box">
        <div class="newslatter">
          <p class="title">Подпишитесь на новостную рассылку, чтобы получать последние новости.</p>
          <input required="required" class="required email" type="email" name="email" autocomplete="email" placeholder="Эл. почта" id="register_input_footer" rel="1">
        </div>
        <div class="support">
          <p class="title">Свяжитесь с нами</p>
          <div class="subtitle">
            <ul>
              <li>Свяжитесь с нами</li>
              <li>Заказать образцы</li>
              <li>Отследить заказ</li>
              <li>Часто задаваемые вопросы</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  