<!DOCTYPE html>
<html>
<head>
  <title>Person Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_profile.css') }}">
</head>
<body>
  {% include 'header.html' %}
  
  <main>


        <div class="login">
          <div class="login-container">
            <h2>Login</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="email" placeholder="email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <script>
          {% if redirect_to_personal_account %}
            window.location.href = "/personal-account";
          {% endif %}
        </script>

        <div class="profile">
          <div class="registration-form">
            <h1>Регистрация пользователя</h1>
            <form name="myForm" id="myForm" action="/reg" method="POST">
              <label for="name">Имя:</label>
              <input type="text" id="name" name="name" required>
          
              <label for="surname">Фамилия:</label>
              <input type="text" id="surname" name="surname" required>
          
              <label for="address">Адрес доставки:</label>
              <input type="text" id="address" name="address" required>
          
              <label for="phone">Номер телефона:</label>
              <input type="tel" id="phone" name="phone" required>
          
              <label for="email">E-mail:</label>
              <input type="emil" id="email" name="email" required>
          
              <label for="password">Пароль:</label>
              <input type="password" id="password" name="password" required>
          
              <label for="password-confirm">Подтвердите пароль:</label>
              <input type="password" id="password-confirm" name="password-confirm" required>

              <label for="id">Введите ID если он необходим:</label>
              <input type="text" id="id" name="id">
          
              <input type="submit" id="sendbtn_POST" value="Добавить пользователя">
              <input type="submit" id="sendbtn_GET_ID" value="получить полльзователя по ID">
              <input type="submit" id="sendbtn_GET_ALL" value="Получить всех пользователей">
              <input type="submit" id="sendbtn_PUT" value="Обновить пользователя по ID">
              <input type="submit" id="sendbtn_DELETE" value="Удалить пользователя по ID">
            </form>
          </div>
          <div class="info-block">
            <h3>Информация о регистрации</h3>
            <div class="stats-user">
            </div>
            <button id="data-usage-btn" class="info-btn">Для чего используем эти данные?</button>
            <button id="discount-btn" class="info-btn">Как получить скидку 5%?</button>
            <div id="data-usage-info" class="info-hidden">
              <p>Мы используем эти данные для обработки вашего заказа и доставки товара. Все ваши личные данные хранятся в соответствии с нашей политикой конфиденциальности и не будут переданы третьим лицам.</p>
            </div>
            <div id="discount-info" class="info-hidden">
              <p>После регистрации вы получите промокод на скидку 5%, который можно использовать при следующей покупке нашей продукции.</p>
            </div>
            <p>Ответ: <b id="statusfield">{{ message }}</b></p>
          </div>
          
        </div>




      </main>
  
      {% include 'footer.html' %}
      
      <script src="{{ url_for('static', filename='js/script2.js') }}"></script>
    </body>
    </html>